parameters:
    level: 9
    paths:
        - src
    ignoreErrors:
        # Since $extraData comes from the library consumer, we don't know the structure/contents:
        -
            message: '#Method [a-zA-Z0-9\\:()]+ has parameter \$extraData with no value type specified in iterable type array#'
            path: src/Concerns/Dismiss.php
        # Laravel magic:
        - message: '#Call to an undefined static method Rellix\\Dismissibles\\Models\\Dismissible::active\(\).#'
        - message: '#Call to an undefined static method Rellix\\Dismissibles\\Models\\Dismissible::firstWhere\(\).#'
        - message: '#Call to an undefined method Illuminate\\Database\\Eloquent\\Relations\\HasMany::dismissedBy\(\).#'
        - message: '#Call to an undefined method Illuminate\\Database\\Eloquent\\Builder::dismissedBy\(\).#'
        - message: '#Call to an undefined method Illuminate\\Database\\Eloquent\\Builder::active\(\).#'
        - message: '#Access to an undefined property Rellix\\Dismissibles\\Contracts\\Dismisser::\$id#'
        - message: '#Parameter \#[0-9] of method Illuminate\\Database\\Eloquent\\Relations\\MorphTo::associate() expects Illuminate\\Database\\Eloquent\\Model|null, Rellix\\Dismissibles\\Contracts\\Dismisser given#'
